<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset='UTF-8'>
	<meta content="基于Node的WebRTC应用" name="description">
	<meta content="WebRTC Node express websocket" name="keywords">
	<meta content="Mingdan XU" name="author">
	<link href="css/main.css" rel="stylesheet" />
</head>
<body>